<h1>Regiser</h1>

<form [formGroup]="userForm" (submit)="submit()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
          required
          matInput
          type="text"
          name="name"
          formControlName="name"
        />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
            required
            matInput
            type="text"
            name="username"
            formControlName="username"
        />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
            required
            matInput
            type="password"
            name="password"
            formControlName="password"
        />
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button color="primary">Register</button>
  </div>
</form>
