<h1>Events</h1>
<mat-accordion>
    <mat-card *ngFor="let event of events | async">
        <mat-card-header>
            <mat-card-title color="red">
                {{ event.title }}
            </mat-card-title>

            <mat-card-subtitle *ngFor="let location of event.locations">
                {{ location.name }}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
           <p>{{ event.description }}</p>
        </mat-card-content>

        <mat-card-actions>

            <button 
                mat-icon-button 
                (click)="ParticipateToEvent(event)"
            >
                <mat-icon>add</mat-icon>
            </button> 

            <mat-chip-list >  
                <div *ngFor="let participation of event.participations">
                    <mat-chip color="primary" selected >
                       {{participation.username}}  {{participation.approval}}
                    </mat-chip>
                </div>
            </mat-chip-list>
            
        </mat-card-actions>
    </mat-card>
    
</mat-accordion>