


<mat-toolbar color="primary">

    <button (click)= "sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span>Eventcenter</span>
    <span class="spacer"></span>
  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav mode="side">
        <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>

</mat-sidenav-container>
